<div class="conteiner">
    <!-- טופס הלוגין -->
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="modal-content animate">
        <div class="input-group">
            <input type="text" name="nameU" [(ngModel)]="user.nameUser" class="form-control" placeholder="שם משתמש"
                #nameModel="ngModel" required minlength="8">
            <i class="input-group-addon glyphicon glyphicon-user"></i>
        </div>
        <!-- הודעות שגיאה -->
        <div class="alert" *ngIf="!nameModel.valid&&nameModel.touched">
            <div *ngIf="nameModel.errors.required" class="alert-danger">השם שדה חובה</div>
            <div *ngIf="nameModel.errors.minlength" class="alert-danger">השם חייב להכיל 8 תווים לפחות</div>
        </div>
        <div *ngIf="numUser==-1" class="alert-danger">שם משתמש קיים</div>
        <div class="input-group">
            <input type="password" name="psw" [(ngModel)]="user.passwordUser" placeholder="הכנס סיסמא"
                class="form-control" #pswModel="ngModel" required minlength="8">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        </div>
        <div class="alert" *ngIf="!pswModel.valid&&pswModel.touched">
            <div *ngIf="pswModel.errors.required" class="alert-danger"> חובה להכניס סיסמא </div>
            <div *ngIf="pswModel.errors.minlength" class="alert-danger"> הסיסמא חייבת להכיל 8 תווים לפחות</div>
        </div>
        <div *ngIf="newUser==true">
            <div class="input-group">
                <input type="password" name="psw2" [(ngModel)]="TempPassword" placeholder="הכנס סיסמא"
                    class="form-control" #psw2Model="ngModel" required minlength="8">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            </div>
            <div class="alert" *ngIf="!psw2Model.valid&&psw2Model.touche">
                <div *ngIf="psw2Model.errors.required" class="alert-danger"> חובה להכניס סיסמא </div>
                <div *ngIf="psw2Model.errors.minlength" class="alert-danger"> הסיסמא חייבת להכיל 8 תווים לפחות</div>
            </div>
            <div *ngIf="psw2Model.value!=pswModel.value" class="alert-danger">אין אימות בין הסיסמאות</div>
        </div>
        <div *ngIf="numUser==0" class="alert-danger"> אחד הנתונים שגוי נסה שינית</div>
        <input type="submit" value="Save" [disabled]="!loginForm.form.valid">
    </form>
</div>