.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 60%; 
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 98%;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: rgb(82, 58, 58);
    color:white;
}

button:hover {
    opacity: 0.8;
}
.alert-danger{
    max-height: 20px;
}


