<div class="container">
    <h4><b>המשימות שלי</b></h4>
        <div class="scorllable" >

    <table class="table">
        <thead class="titleOfTable">
            <tr>
                <th>תאריך יצירת משימה</th>
                <th>כותרת</th>
                <th>תאור המשימה</th>
                <th>תאריך יעד לביצוע</th>
                <th>סטטוס</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- כאשר לוחצים על העיפרון התאים בטבלה של הרשומה ניתנים לעריכה  -->
            <tr *ngFor="let task of listTask">
                <td>{{task.dateCreate| date:"dd/MM/yyyy"}}</td>
                <td *ngIf="tempTask.id!=task.id">{{task.title}}</td>
                <td *ngIf="tempTask.id==task.id&&editTask==true"><input type="text" [(ngModel)]="tempTask.title"></td>
                <td *ngIf="tempTask.id!=task.id">{{task.DescriptionTask}}</td>
                <td *ngIf="tempTask.id==task.id&&editTask==true"><input type="text"
                        [(ngModel)]="tempTask.DescriptionTask"></td>
                <td *ngIf="tempTask.id!=task.id">{{task.dateComplete| date : "dd/MM/yyyy"}}</td>
                <td *ngIf="tempTask.id==task.id&&editTask==true"><input type="date" [(ngModel)]="tempTask.dateComplete">
                </td>
                <td *ngIf="tempTask.id!=task.id"><input type="checkbox" [(ngModel)]="task.statusTask"
                        [checked]="task.statusTask==true"></td>
                <td *ngIf="editTask==true&&tempTask.id==task.id&&editTask==true"><input type="checkbox"
                        [(ngModel)]="tempTask.statusTask" [checked]="tempTask.statusTask==true"></td>
                <td *ngIf="tempTask.id!=task.id"><span (click)="toEdit(task)" class="glyphicon glyphicon-pencil"></span>
                </td>
                <td *ngIf="tempTask.id==task.id&&editTask==true"><span (click)="ToSave(tempTask)"
                        class="glyphicon glyphicon-floppy-disk"></span> </td>
                <td *ngIf="tempTask.id!=task.id"><span (click)="toDelete(task.id)"
                        class="glyphicon glyphicon-trash"></span></td>
                <td *ngIf="tempTask.id==task.id&&editTask==true"><span (click)="toCancel()"
                        class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <!-- כאשר לוחצים על חדש נוספת שורה חדשה בטבלה שניתן למלאות בה נתונים -->
            <tr *ngIf="openAdd==true">
                <td> {{tempTask.dateCreate| date:"dd/MM/yyyy"}}</td>
                <td><input type="text" [(ngModel)]="tempTask.title"></td>
                <td><input type="text" [(ngModel)]="tempTask.DescriptionTask"></td>
                <td><input type="date" [(ngModel)]="tempTask.dateComplete"></td>
                <td><input type="checkbox" [(ngModel)]="tempTask.statusTask" [checked]="tempTask.statusTask==true"></td>
                <td><span (click)="ToSave(tempTask)" class="glyphicon glyphicon-floppy-disk"></span> </td>
                <td><span (click)="toCancel()" class="glyphicon glyphicon-remove"></span></td>
            </tr>
        </tbody>
    </table>
    </div>
    <input type="button" value="הוספת משימה חדשה" (click)="openAddLine()">
</div>
<!-- בצורה של פתיחת קומפננטה בשביל להוסיף משימה חדשה -->
<!-- <app-add-edit *ngIf="openAdd==true" [taskToAddOrEdit]="tempTask" (Cancel)="openAdd=false" -->
<!-- (Save)="ToSave($event)"></app-add-edit> -->