span{
width: 10px;
}
table{
    direction: rtl;
}
.scorllable{
    height: 450px;
    overflow: auto;
    margin-bottom: 30px;
}
.titleOfTable{
    top:0px;
    position: sticky;
    z-index: 100;
    direction: rtl;
}


