<div class="container">
    <div class="rtl">
        <!-- תאריך יצירת המשימה <input type="date" [(ngModel)]="copyTask.dateCreate"><br> -->
        כותרת <input type="text" [(ngModel)]="copyTask.title"><br>
        תאור המשימה <input type="text" [(ngModel)]="copyTask.DescriptionTask"><br>
        תאריך יעד לביצוע <input type="date" [(ngModel)]="copyTask.dateComplete"><br>
        סטטוס <input type="checkbox" [(ngModel)]="copyTask.statusTask">
         <!-- [class.IsNotChecked]="copyTask.statusTask==false"  -->
        <!-- [class.IsChecked]="copyTask.statusTask==true"> -->
    </div>
    <input type="button" value="שמור" (click)="toSave(copyTask)">
    <input type="button" value="ביטול"(click)="Cancel.emit()">
</div>