<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li (click)="toExit()"><a href="#">התנתק</a></li>
            <li (click)="loginNew()"><a href="#"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
            <li (click)="loginOpen()"><a href="#"><span class="glyphicon glyphicon-log-in"></span> התחבר</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h3> {{nameUserConected}} שלום</h3>
    </div>
</div>
<app-login *ngIf="openLogin==true&&viewTasks==false" [newUser]="loginNewUser" (loginOK)="login($event)"></app-login>
<app-list-task *ngIf="viewTasks==true" [nowNameUser]="nameUserConected" [nowUser]="numUserConected"></app-list-task>